@model WebApplication1.Models.producto

@{
    ViewBag.Title = "Details";
    var nombreproveedor = Model.nombre;
}

<h2>Producto</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio unitario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percio_unitario)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            Proveedor
        </dt>
        <dd>
            @WebApplication1.Controllers.ProductoController.NombreProveedor(Model.id_proveedor)
        </dd>

       
</div>
<p>
    @Html.ActionLink("Editar provedo" + nombreproveedor, "Index")
    @Html.ActionLink("Regresar ala lista ", "Index")
</p>



